@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

html, body, #app {
    height: 100%;
}

#nav {
    color: white;
    background-color: #211C84;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #B5A8D5;
    position: fixed;
    width: 100%;
    box-sizing: border-box;
    top: 0 !important;
}

#nav_profile_img {
    width: 52px;
    height: 52px;
    display: block;
    border-radius: 25px !important;
}

#nav_profile_img_btn{
    padding: 0 !important;
    border: none !important;
    border-radius: 25px !important;
}

#nav-logo {
    width: 65px;
    height: 55px;
}

body {
    margin: 0 auto;
    font-family: 'Montserrat', sans-serif;
}

main {
    margin: 80px 0;
}

.layout {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.app-footer {
    padding: 18px 16px;
    background: #211C84;
    color: #B5ABD5;
    text-align: right;
    font-size: 14px;
}

.content {
    flex: 1 0 auto;
}

.logo {
    height: 6em;
    padding: 1.5em;
    will-change: filter;
    transition: filter 300ms;
}

.logo:hover {
    filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.vue:hover {
    filter: drop-shadow(0 0 2em #42b883aa);
}

.nav_dropdown_submenu {
    text-decoration: none;
    color: #B5A8D5;
    background-color: #211C84;
    padding: 15px;
    font-size: 17px;
}

.nav_dropdown_submenu_sub {
    text-decoration: none;
    background-color: #B5A8D5;
    color: #211C84;
    padding: 15px;
    font-size: 17px;
}

#nav_dropdown {
    display: flex;
    flex-direction: column;
    position: absolute;
    border-radius: 3px;
    overflow: hidden;
    right: 0.5rem;
    z-index: 999;
    width: 150px;
}

#nav_toggle_tasks, #nav_toggle_teams {
    display: flex;
    flex-direction: column !important;
}

.page_title {
    text-align: center;
    color: #4D55CC;
}

#profile_structure {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#profile_card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
}

#profile_card_buttons {
    margin: 0 auto;
}

.icon_thumbnail {
    width: 25px;
    height: 25px;
}

.button {
    border: none;
    font-size: 15px;
    cursor: pointer;
    margin: 5px;
    background-color: #211C84;
    border-radius: 2px;
    color: #B5A8D5;
    padding: 10px;
}

.button:hover {
    background-color: #B5A8D5;
    color: #211C84;
    box-shadow: 0 0 6px #211C84;
}

#profile_card_user_details, #profile_card_pge {
    display: flex;
    flex-direction: column;
}

#profile_name {
    text-align: center;
    font-size: 20px;
}

#profile_card_img {
    height: 80%;
    width: 15%;
    margin: 15px;
}

#profile_card_user_details {
    padding: 5px;
}

#profile_card_pge p {
    display: flex;
}

.label {
    color: #211C84;
    font-weight: bold;
}

.info {
    color: #4D55CC;
}

.popup {
    position: fixed;
    top: 89px;
    right: 50%;
    border-radius: 1px;
    z-index: 9999;
    font-weight: 500;
    padding: 10px 50px;
    white-space: nowrap;
}

.popup-error {
    background-color: #fd3736;
    color: #d99a99;
}

.popup-success {
    background-color: #3cb879;
    color: #aae8c1;
}

.nav-links {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.nav-link {
    color: white;
    text-decoration: none;
}